
DB_NAME=postgres
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

USE_LOCAL_DB=
LOCAL_DB_NAME=boutique_crm
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=
LOCAL_DB_HOST=127.0.0.1
LOCAL_DB_PORT=5432

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=

